:root {
  --mantine-color-black: #141414;
  --mantine-font-family: DM Sans,sans-serif;
  --mantine-font-family-headings: DM Sans,sans-serif;
  --mantine-primary-color-filled: var(--mantine-color-lime-filled);
  --mantine-primary-color-filled-hover: var(--mantine-color-lime-filled-hover);
  --mantine-primary-color-light: var(--mantine-color-lime-light);
  --mantine-primary-color-light-hover: var(--mantine-color-lime-light-hover);
  --mantine-primary-color-light-color: var(--mantine-color-lime-light-color);
  --mantine-breakpoint-xxs: 28.75em;
  --mantine-breakpoint-x3s: 23.75em;
  --mantine-spacing-xs: calc(0.5rem * var(--mantine-scale));
  --mantine-spacing-xl: calc(1.5rem * var(--mantine-scale));
  --mantine-spacing-x5s: calc(0.125rem * var(--mantine-scale));
  --mantine-spacing-x4s: calc(0.1875rem * var(--mantine-scale));
  --mantine-spacing-x3s: calc(0.25rem * var(--mantine-scale));
  --mantine-spacing-xxs: calc(0.375rem * var(--mantine-scale));
  --mantine-spacing-xxl: calc(2rem * var(--mantine-scale));
  --mantine-spacing-x3l: calc(2.25rem * var(--mantine-scale));
  --mantine-spacing-x4l: calc(2.5rem * var(--mantine-scale));
  --mantine-spacing-x5l: calc(3.65rem * var(--mantine-scale));
  --mantine-font-size-xxs: calc(0.625rem * var(--mantine-scale));
  --mantine-font-size-xxl: calc(1.5rem * var(--mantine-scale));
  --mantine-font-size-x3l: calc(1.875rem * var(--mantine-scale));
  --mantine-font-size-x4l: calc(3rem * var(--mantine-scale));
  --mantine-shadow-retro: var(--retro-shadow-size) var(--retro-shadow-size);
  --mantine-shadow-floating: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --mantine-radius-md: calc(0.625rem * var(--mantine-scale));
  --mantine-radius-xxl: calc(3rem * var(--mantine-scale));
  --mantine-primary-color-0: var(--mantine-color-lime-0);
  --mantine-primary-color-1: var(--mantine-color-lime-1);
  --mantine-primary-color-2: var(--mantine-color-lime-2);
  --mantine-primary-color-3: var(--mantine-color-lime-3);
  --mantine-primary-color-4: var(--mantine-color-lime-4);
  --mantine-primary-color-5: var(--mantine-color-lime-5);
  --mantine-primary-color-6: var(--mantine-color-lime-6);
  --mantine-primary-color-7: var(--mantine-color-lime-7);
  --mantine-primary-color-8: var(--mantine-color-lime-8);
  --mantine-primary-color-9: var(--mantine-color-lime-9);
  --mantine-color-gray-0: #F0F0F0;
  --mantine-color-gray-1: #FFC0CB;
  --mantine-color-gray-2: #EDEDED;
  --mantine-color-gray-3: #E4E4E4;
  --mantine-color-gray-4: #D9D9D9;
  --mantine-color-gray-5: #BFBFBF;
  --mantine-color-gray-6: #FFC0CB;
  --mantine-color-gray-7: #767676;
  --mantine-color-gray-8: #666666;
  --mantine-color-gray-9: #141414;
  --mantine-color-red-0: #F58E8E;
  --mantine-color-red-1: #FFE1E1;
  --mantine-color-red-2: #FFC0CB;
  --mantine-color-red-3: #FFC0CB;
  --mantine-color-red-4: #FFC0CB;
  --mantine-color-red-5: #FFC0CB;
  --mantine-color-red-6: #FFC0CB;
  --mantine-color-red-7: #FFC0CB;
  --mantine-color-red-8: #FFC0CB;
  --mantine-color-red-9: #C90A08;
  --mantine-color-teal-0: #FFC0CB;
  --mantine-color-teal-1: #FFC0CB;
  --mantine-color-teal-2: #FFC0CB;
  --mantine-color-teal-3: #ADFFD7;
  --mantine-color-teal-4: #5CFFB0;
  --mantine-color-teal-5: #32FF9C;
  --mantine-color-teal-6: #00FF84;
  --mantine-color-teal-7: #00E276;
  --mantine-color-teal-8: #FFC0CB;
  --mantine-color-teal-9: #FFC0CB;
  --mantine-color-lime-0: #FFC0CB;
  --mantine-color-lime-1: #FFC0CB;
  --mantine-color-lime-2: #FFC0CB;
  --mantine-color-lime-3: #E9FFAD;
  --mantine-color-lime-4: #D3FF5C;
  --mantine-color-lime-5: #C5FF32;
  --mantine-color-lime-6: #BDFF00;
  --mantine-color-lime-7: #A6E200;
  --mantine-color-lime-8: #FFC0CB;
  --mantine-color-lime-9: #FFC0CB;
  --mantine-color-cream-0: #F6F4EB;
  --mantine-color-cream-1: #F8F7F1;
  --mantine-color-cream-2: #F3F1E5;
  --mantine-color-cream-3: #EEEBDD;
  --mantine-color-cream-4: #EAE4D8;
  --mantine-color-cream-5: #D8CFBF;
  --mantine-color-cream-6: #BEB39D;
  --mantine-color-cream-7: #FFC0CB;
  --mantine-color-cream-8: #726755;
  --mantine-color-cream-9: #FFC0CB;
  --mantine-h1-font-size: 3rem;
  --mantine-h1-line-height: 3rem;
  --mantine-h1-font-weight: 300;
  --mantine-h2-font-size: 2rem;
  --mantine-h2-font-weight: 300;
  --mantine-h3-font-size: 1.5rem;
  --mantine-h3-font-weight: 400;
  --mantine-h4-font-size: 1.125rem;
}
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-anchor: var(--mantine-color-lime-4);
  --mantine-color-dark-filled: var(--mantine-color-dark-7);
  --mantine-color-dark-filled-hover: var(--mantine-color-dark-8);
  --mantine-color-dark-light: rgba(59, 59, 59, 0.15);
  --mantine-color-dark-light-hover: rgba(59, 59, 59, 0.2);
  --mantine-color-dark-light-color: var(--mantine-color-dark-2);
  --mantine-color-dark-outline: var(--mantine-color-dark-3);
  --mantine-color-dark-outline-hover: rgba(105, 105, 105, 0.05);
  --mantine-color-gray-filled: var(--mantine-color-gray-7);
  --mantine-color-gray-filled-hover: var(--mantine-color-gray-8);
  --mantine-color-gray-light: rgba(191, 191, 191, 0.15);
  --mantine-color-gray-light-hover: rgba(191, 191, 191, 0.2);
  --mantine-color-gray-light-color: var(--mantine-color-gray-2);
  --mantine-color-gray-outline: var(--mantine-color-gray-3);
  --mantine-color-gray-outline-hover: rgba(228, 228, 228, 0.05);
  --mantine-color-red-filled: var(--mantine-color-red-7);
  --mantine-color-red-filled-hover: var(--mantine-color-red-8);
  --mantine-color-red-light: rgba(255, 192, 203, 0.15);
  --mantine-color-red-light-hover: rgba(255, 192, 203, 0.2);
  --mantine-color-red-light-color: var(--mantine-color-red-2);
  --mantine-color-red-outline: var(--mantine-color-red-3);
  --mantine-color-red-outline-hover: rgba(255, 192, 203, 0.05);
  --mantine-color-pink-filled: var(--mantine-color-pink-7);
  --mantine-color-pink-filled-hover: var(--mantine-color-pink-8);
  --mantine-color-pink-light: rgba(240, 101, 149, 0.15);
  --mantine-color-pink-light-hover: rgba(240, 101, 149, 0.2);
  --mantine-color-pink-light-color: var(--mantine-color-pink-2);
  --mantine-color-pink-outline: var(--mantine-color-pink-3);
  --mantine-color-pink-outline-hover: rgba(250, 162, 193, 0.05);
  --mantine-color-grape-filled: var(--mantine-color-grape-7);
  --mantine-color-grape-filled-hover: var(--mantine-color-grape-8);
  --mantine-color-grape-light: rgba(204, 93, 232, 0.15);
  --mantine-color-grape-light-hover: rgba(204, 93, 232, 0.2);
  --mantine-color-grape-light-color: var(--mantine-color-grape-2);
  --mantine-color-grape-outline: var(--mantine-color-grape-3);
  --mantine-color-grape-outline-hover: rgba(229, 153, 247, 0.05);
  --mantine-color-violet-filled: var(--mantine-color-violet-7);
  --mantine-color-violet-filled-hover: var(--mantine-color-violet-8);
  --mantine-color-violet-light: rgba(132, 94, 247, 0.15);
  --mantine-color-violet-light-hover: rgba(132, 94, 247, 0.2);
  --mantine-color-violet-light-color: var(--mantine-color-violet-2);
  --mantine-color-violet-outline: var(--mantine-color-violet-3);
  --mantine-color-violet-outline-hover: rgba(177, 151, 252, 0.05);
  --mantine-color-indigo-filled: var(--mantine-color-indigo-7);
  --mantine-color-indigo-filled-hover: var(--mantine-color-indigo-8);
  --mantine-color-indigo-light: rgba(92, 124, 250, 0.15);
  --mantine-color-indigo-light-hover: rgba(92, 124, 250, 0.2);
  --mantine-color-indigo-light-color: var(--mantine-color-indigo-2);
  --mantine-color-indigo-outline: var(--mantine-color-indigo-3);
  --mantine-color-indigo-outline-hover: rgba(145, 167, 255, 0.05);
  --mantine-color-blue-filled: var(--mantine-color-blue-7);
  --mantine-color-blue-filled-hover: var(--mantine-color-blue-8);
  --mantine-color-blue-light: rgba(51, 154, 240, 0.15);
  --mantine-color-blue-light-hover: rgba(51, 154, 240, 0.2);
  --mantine-color-blue-light-color: var(--mantine-color-blue-2);
  --mantine-color-blue-outline: var(--mantine-color-blue-3);
  --mantine-color-blue-outline-hover: rgba(116, 192, 252, 0.05);
  --mantine-color-cyan-filled: var(--mantine-color-cyan-7);
  --mantine-color-cyan-filled-hover: var(--mantine-color-cyan-8);
  --mantine-color-cyan-light: rgba(34, 184, 207, 0.15);
  --mantine-color-cyan-light-hover: rgba(34, 184, 207, 0.2);
  --mantine-color-cyan-light-color: var(--mantine-color-cyan-2);
  --mantine-color-cyan-outline: var(--mantine-color-cyan-3);
  --mantine-color-cyan-outline-hover: rgba(102, 217, 232, 0.05);
  --mantine-color-teal-filled: var(--mantine-color-teal-7);
  --mantine-color-teal-filled-hover: var(--mantine-color-teal-8);
  --mantine-color-teal-light: rgba(50, 255, 156, 0.15);
  --mantine-color-teal-light-hover: rgba(50, 255, 156, 0.2);
  --mantine-color-teal-light-color: var(--mantine-color-teal-2);
  --mantine-color-teal-outline: var(--mantine-color-teal-3);
  --mantine-color-teal-outline-hover: rgba(173, 255, 215, 0.05);
  --mantine-color-green-filled: var(--mantine-color-green-7);
  --mantine-color-green-filled-hover: var(--mantine-color-green-8);
  --mantine-color-green-light: rgba(81, 207, 102, 0.15);
  --mantine-color-green-light-hover: rgba(81, 207, 102, 0.2);
  --mantine-color-green-light-color: var(--mantine-color-green-2);
  --mantine-color-green-outline: var(--mantine-color-green-3);
  --mantine-color-green-outline-hover: rgba(140, 233, 154, 0.05);
  --mantine-color-lime-filled: var(--mantine-color-lime-7);
  --mantine-color-lime-filled-hover: var(--mantine-color-lime-8);
  --mantine-color-lime-light: rgba(197, 255, 50, 0.15);
  --mantine-color-lime-light-hover: rgba(197, 255, 50, 0.2);
  --mantine-color-lime-light-color: var(--mantine-color-lime-2);
  --mantine-color-lime-outline: var(--mantine-color-lime-3);
  --mantine-color-lime-outline-hover: rgba(233, 255, 173, 0.05);
  --mantine-color-yellow-filled: var(--mantine-color-yellow-7);
  --mantine-color-yellow-filled-hover: var(--mantine-color-yellow-8);
  --mantine-color-yellow-light: rgba(252, 196, 25, 0.15);
  --mantine-color-yellow-light-hover: rgba(252, 196, 25, 0.2);
  --mantine-color-yellow-light-color: var(--mantine-color-yellow-2);
  --mantine-color-yellow-outline: var(--mantine-color-yellow-3);
  --mantine-color-yellow-outline-hover: rgba(255, 224, 102, 0.05);
  --mantine-color-orange-filled: var(--mantine-color-orange-7);
  --mantine-color-orange-filled-hover: var(--mantine-color-orange-8);
  --mantine-color-orange-light: rgba(255, 146, 43, 0.15);
  --mantine-color-orange-light-hover: rgba(255, 146, 43, 0.2);
  --mantine-color-orange-light-color: var(--mantine-color-orange-2);
  --mantine-color-orange-outline: var(--mantine-color-orange-3);
  --mantine-color-orange-outline-hover: rgba(255, 192, 120, 0.05);
  --mantine-color-cream-text: var(--mantine-color-cream-4);
  --mantine-color-cream-filled: var(--mantine-color-cream-7);
  --mantine-color-cream-filled-hover: var(--mantine-color-cream-8);
  --mantine-color-cream-light: rgba(216, 207, 191, 0.15);
  --mantine-color-cream-light-hover: rgba(216, 207, 191, 0.2);
  --mantine-color-cream-light-color: var(--mantine-color-cream-2);
  --mantine-color-cream-outline: var(--mantine-color-cream-3);
  --mantine-color-cream-outline-hover: rgba(238, 235, 221, 0.05);
}
:root[data-mantine-color-scheme="light"] {
  --mantine-color-text: #141414;
  --mantine-color-anchor: var(--mantine-color-lime-7);
  --mantine-color-dark-filled: var(--mantine-color-dark-7);
  --mantine-color-dark-filled-hover: var(--mantine-color-dark-8);
  --mantine-color-dark-light: rgba(36, 36, 36, 0.1);
  --mantine-color-dark-light-hover: rgba(36, 36, 36, 0.12);
  --mantine-color-dark-light-color: var(--mantine-color-dark-7);
  --mantine-color-dark-outline: var(--mantine-color-dark-7);
  --mantine-color-dark-outline-hover: rgba(36, 36, 36, 0.05);
  --mantine-color-gray-filled: var(--mantine-color-gray-7);
  --mantine-color-gray-filled-hover: var(--mantine-color-gray-8);
  --mantine-color-gray-light: rgba(118, 118, 118, 0.1);
  --mantine-color-gray-light-hover: rgba(118, 118, 118, 0.12);
  --mantine-color-gray-light-color: var(--mantine-color-gray-7);
  --mantine-color-gray-outline: var(--mantine-color-gray-7);
  --mantine-color-gray-outline-hover: rgba(118, 118, 118, 0.05);
  --mantine-color-red-filled: var(--mantine-color-red-7);
  --mantine-color-red-filled-hover: var(--mantine-color-red-8);
  --mantine-color-red-light: rgba(255, 192, 203, 0.1);
  --mantine-color-red-light-hover: rgba(255, 192, 203, 0.12);
  --mantine-color-red-light-color: var(--mantine-color-red-7);
  --mantine-color-red-outline: var(--mantine-color-red-7);
  --mantine-color-red-outline-hover: rgba(255, 192, 203, 0.05);
  --mantine-color-pink-filled: var(--mantine-color-pink-7);
  --mantine-color-pink-filled-hover: var(--mantine-color-pink-8);
  --mantine-color-pink-light: rgba(214, 51, 108, 0.1);
  --mantine-color-pink-light-hover: rgba(214, 51, 108, 0.12);
  --mantine-color-pink-light-color: var(--mantine-color-pink-7);
  --mantine-color-pink-outline: var(--mantine-color-pink-7);
  --mantine-color-pink-outline-hover: rgba(214, 51, 108, 0.05);
  --mantine-color-grape-filled: var(--mantine-color-grape-7);
  --mantine-color-grape-filled-hover: var(--mantine-color-grape-8);
  --mantine-color-grape-light: rgba(174, 62, 201, 0.1);
  --mantine-color-grape-light-hover: rgba(174, 62, 201, 0.12);
  --mantine-color-grape-light-color: var(--mantine-color-grape-7);
  --mantine-color-grape-outline: var(--mantine-color-grape-7);
  --mantine-color-grape-outline-hover: rgba(174, 62, 201, 0.05);
  --mantine-color-violet-filled: var(--mantine-color-violet-7);
  --mantine-color-violet-filled-hover: var(--mantine-color-violet-8);
  --mantine-color-violet-light: rgba(112, 72, 232, 0.1);
  --mantine-color-violet-light-hover: rgba(112, 72, 232, 0.12);
  --mantine-color-violet-light-color: var(--mantine-color-violet-7);
  --mantine-color-violet-outline: var(--mantine-color-violet-7);
  --mantine-color-violet-outline-hover: rgba(112, 72, 232, 0.05);
  --mantine-color-indigo-filled: var(--mantine-color-indigo-7);
  --mantine-color-indigo-filled-hover: var(--mantine-color-indigo-8);
  --mantine-color-indigo-light: rgba(66, 99, 235, 0.1);
  --mantine-color-indigo-light-hover: rgba(66, 99, 235, 0.12);
  --mantine-color-indigo-light-color: var(--mantine-color-indigo-7);
  --mantine-color-indigo-outline: var(--mantine-color-indigo-7);
  --mantine-color-indigo-outline-hover: rgba(66, 99, 235, 0.05);
  --mantine-color-blue-filled: var(--mantine-color-blue-7);
  --mantine-color-blue-filled-hover: var(--mantine-color-blue-8);
  --mantine-color-blue-light: rgba(28, 126, 214, 0.1);
  --mantine-color-blue-light-hover: rgba(28, 126, 214, 0.12);
  --mantine-color-blue-light-color: var(--mantine-color-blue-7);
  --mantine-color-blue-outline: var(--mantine-color-blue-7);
  --mantine-color-blue-outline-hover: rgba(28, 126, 214, 0.05);
  --mantine-color-cyan-filled: var(--mantine-color-cyan-7);
  --mantine-color-cyan-filled-hover: var(--mantine-color-cyan-8);
  --mantine-color-cyan-light: rgba(16, 152, 173, 0.1);
  --mantine-color-cyan-light-hover: rgba(16, 152, 173, 0.12);
  --mantine-color-cyan-light-color: var(--mantine-color-cyan-7);
  --mantine-color-cyan-outline: var(--mantine-color-cyan-7);
  --mantine-color-cyan-outline-hover: rgba(16, 152, 173, 0.05);
  --mantine-color-teal-filled: var(--mantine-color-teal-7);
  --mantine-color-teal-filled-hover: var(--mantine-color-teal-8);
  --mantine-color-teal-light: rgba(0, 226, 118, 0.1);
  --mantine-color-teal-light-hover: rgba(0, 226, 118, 0.12);
  --mantine-color-teal-light-color: var(--mantine-color-teal-7);
  --mantine-color-teal-outline: var(--mantine-color-teal-7);
  --mantine-color-teal-outline-hover: rgba(0, 226, 118, 0.05);
  --mantine-color-green-filled: var(--mantine-color-green-7);
  --mantine-color-green-filled-hover: var(--mantine-color-green-8);
  --mantine-color-green-light: rgba(55, 178, 77, 0.1);
  --mantine-color-green-light-hover: rgba(55, 178, 77, 0.12);
  --mantine-color-green-light-color: var(--mantine-color-green-7);
  --mantine-color-green-outline: var(--mantine-color-green-7);
  --mantine-color-green-outline-hover: rgba(55, 178, 77, 0.05);
  --mantine-color-lime-filled: var(--mantine-color-lime-7);
  --mantine-color-lime-filled-hover: var(--mantine-color-lime-8);
  --mantine-color-lime-light: rgba(166, 226, 0, 0.1);
  --mantine-color-lime-light-hover: rgba(166, 226, 0, 0.12);
  --mantine-color-lime-light-color: var(--mantine-color-lime-7);
  --mantine-color-lime-outline: var(--mantine-color-lime-7);
  --mantine-color-lime-outline-hover: rgba(166, 226, 0, 0.05);
  --mantine-color-yellow-filled: var(--mantine-color-yellow-7);
  --mantine-color-yellow-filled-hover: var(--mantine-color-yellow-8);
  --mantine-color-yellow-light: rgba(245, 159, 0, 0.1);
  --mantine-color-yellow-light-hover: rgba(245, 159, 0, 0.12);
  --mantine-color-yellow-light-color: var(--mantine-color-yellow-7);
  --mantine-color-yellow-outline: var(--mantine-color-yellow-7);
  --mantine-color-yellow-outline-hover: rgba(245, 159, 0, 0.05);
  --mantine-color-orange-filled: var(--mantine-color-orange-7);
  --mantine-color-orange-filled-hover: var(--mantine-color-orange-8);
  --mantine-color-orange-light: rgba(247, 103, 7, 0.1);
  --mantine-color-orange-light-hover: rgba(247, 103, 7, 0.12);
  --mantine-color-orange-light-color: var(--mantine-color-orange-7);
  --mantine-color-orange-outline: var(--mantine-color-orange-7);
  --mantine-color-orange-outline-hover: rgba(247, 103, 7, 0.05);
  --mantine-color-cream-text: var(--mantine-color-cream-filled);
  --mantine-color-cream-filled: var(--mantine-color-cream-7);
  --mantine-color-cream-filled-hover: var(--mantine-color-cream-8);
  --mantine-color-cream-light: rgba(255, 192, 203, 0.1);
  --mantine-color-cream-light-hover: rgba(255, 192, 203, 0.12);
  --mantine-color-cream-light-color: var(--mantine-color-cream-7);
  --mantine-color-cream-outline: var(--mantine-color-cream-7);
  --mantine-color-cream-outline-hover: rgba(255, 192, 203, 0.05);
}
